li {
  list-style: none;
}

.layout {
  display: block;
  transition: opacity 1s ease-in-out; /* Add transition for opacity */
}
*:focus-visible {
  outline: none;
}
.list {
  display: block;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

.select-layout {
  border: 2px solid black;
  background-color: white;
  padding: 5px;
  margin: 10px;
  min-width: 120px;
}

.select-container {
  width: 100%;
  ;
  display: flex;
  justify-content: flex-end;
}